{% extends "header.html" %} {% block content %}

{% if error_msg %}
  <b>
    {{ error_msg }}
  </b>
{% endif %}

{% if book %}

<div>
  <ul>
    <div> {{ book.title }}
      <p> &middot; {{ book.publishedDate }}</p>
    </div>
    <img alt="alt text" src="{{ book.imageLink }}" />
    <li><b>Authors:</b> {{ book.authors | join(", ") }}</li>
    <li><b>Publisher:</b> {{ book.publisher }}</li>
    <li><b>Description:</b> <div>{{ book.description | safe }}</div></li>
    <li><b>Page Count:</b> {{ book.pageCount }}</li>
    <li><b>Categories:</b> {{ book.categories | join(", ") }}</li>
  </ul>

  {% if current_user.is_authenticated %}
    <div>
      {% if is_saved %}
        <form method="POST" action="" style="display: inline;">
          {{ remove_form.csrf_token }}
          {{ remove_form.remove_book() }}
        </form>
      {% else %}
        <form method="POST" action="" style="display: inline;">
          {{ save_form.csrf_token }}
          {{ save_form.save_book() }}
        </form>
      {% endif %}
    </div>
  {% endif %}

  <div>
    <h1> Reviews
      <small> {{ reviews | length }} reviews </small>
    </h1>
    <ul>
      {% for review in reviews %}
        <li>
          {% if review.image %}
          <img src="data:image/png;base64,{{review.image}}" alt="" />
          {% endif %}
          <div>
            <span>{{ review.date }}</span>
            <a href="{{ url_for('books.user_detail', username=review.commenter.username) }}">
              @{{ review.commenter.username }}
            </a>
            <p >{{ review.content }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>

    {% if current_user.is_authenticated %}
      <div>
        <form method="POST" action="">
          {{ form.csrf_token }}
          <div>
            {{ form.text.label }} {{ form.text() }}
            {% if form.text.errors %}
              <div role="alert">
                {% for error in form.text.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          {{ form.submit() }}
        </form>
      </div>
    {% endif %}
  </div>
  <div></div>
</div>
{% endif %} {% endblock content %}