{% extends "header.html" %} {% block content %}
<div class="container">
  <h2> Search a book </h2>
  <form class="search-form" action="/" method="POST">
    {{ form.csrf_token }}
    {{ form.search_query(class="form-control", placeholder="book name") }}

    {% if form.search_query.errors %}
      <div role="alert">
        {% for error in form.search_query.errors %}
          <span>{{ error }}</span>
        {% endfor %}
      </div>
    {% endif %}
    
    {{ form.submit() }}
  </form>
</div>
{% endblock %}