{% extends "header.html" %} {% block content %}

<h2>Saved Books</h2>

<div>
  {% if saved_books_list %}
    {% for saved_book in saved_books_list %}
    <div>
      <a href="{{ url_for('books.book_detail', book_id=saved_book.book_id) }}">
        {% if saved_book.book_image %}
        <img src="{{ saved_book.book_image }}" alt="missing" />
        {% endif %}
        <h5>{{ saved_book.book_title }}</h5>
      </a>
    </div>
    {% endfor %}
  {% else %}
    <p>You haven't saved any books yet.</p>
  {% endif %}
</div>

{% endblock %}

