{% extends "header.html" %} {% block content %}
<div class="container">
    {% if error %}
        <div class="error-message" role="alert">
            {{ error }}
        </div>
    {% endif %}
    {% if not error %}
    <div class="user-header">
        {% if image %}
        <img class="profile-image" src="data:image/png;base64,{{image}}" alt="Profile picture">
        {% endif %}
        <h2>Reviews by @{{ user.username }}</h2>
    </div>
    <div class="user-reviews">
        {% if reviews %}
            <ul class="user-reviews-list">
                {% for review in reviews %}
                    <li class="user-review-item">
                        <div class="user-review-content">
                            <span class="user-review-date">{{ review.date }}</span>
                            <p class="user-review-text"><strong>{{ review.book_title }}:</strong> {{ review.content }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="empty-state">This user hasn't written any reviews yet.</p>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}