{% extends "header.html" %} {% block content %}
{% if error %}
    <b role="alert">
        {{ error }}
    </b>
{% endif %}
{% if not error %}
<div>
    {% if image %}
    <img src="data:image/png;base64,{{image}}" alt="image">
    {% endif %}
    <h2>Reviews by @{{ user.username }}</h2>
</div>
<div>
    {% if reviews %}
        <ul>
            {% for review in reviews %}
                <li>
                    <div>
                        <span>{{ review.date }}</span>
                        <p>{{ review.book_title }}: {{ review.content }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>This user hasn't written any reviews yet.</p>
    {% endif %}
</div>
{% endif %}
{% endblock %}